body{
    font-family: "Times New Roman", Times, serif; color: white;
    background-image: url("images/web.png");
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
a{
    color: white;
    font-size: 3em;
    padding: 1em;
}
hr {
    display: block;
    color: blue;
}

.displayed {
    display: block;
    height: 11em;
    width: 11em;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

a:visited {
    color: white;
}
a:hover {
    color: #808080;
}

table{
    margin-top: 2em;
    margin-left: 11em;
    border-style: solid;
    border-spacing: 1em;
                
}

h2{
    margin-left: -25em;
    margin-top: -10em;
}
            
p{  
    margin-top: 10em;
    margin-left: 50em;
    margin-right: 5em;
    width: 30%;
    border-style: solid;
    border-spacing: 1em;
    padding: 2em;
}

#home{
    text-align: center;
    margin: auto;
}
